.slide{
	&:focus,
	&:active{
		outline: none;
	}
	opacity: 0.4;
	&.slick-current,
	&.slick-active{
		opacity: 1;
	}
}

.slick-prev,
.slick-next {
    position: absolute;
    display: block;
    height: 100%;
    width: 5%;
    line-height: 0px;
    font-size: 0px;
    cursor: pointer;
    color: transparent;
    top: 50%;
    transform: translate(0, -50%);
    padding: 0;
    border: none;
    outline: none;
    z-index: 200;
    @media (min-width:1200px){
    	width: 4%;
    }
    &::before{
    	@include color($lightGreen);
    	font: normal normal normal 35px/1 FontAwesome;
	    text-rendering: auto;
	    -webkit-font-smoothing: antialiased;
	    display: inline-block;
    }
    &:hover{
		background: inherit;
    }
}

.slick-prev {
    left: 0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+100;White+to+Transparent */
	background: -moz-linear-gradient(left,  rgba($white,0) 0%, rgba($white,0.9) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  rgba($white,0) 0%,rgba($white,0.9) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  rgba($white,0) 0%,rgba($white,0.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
	&:hover{
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+100;White+to+Transparent */
		background: -moz-linear-gradient(left,  rgba($white,0) 0%, rgba($white,0.9) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(left,  rgba($white,0) 0%,rgba($white,0.9) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right,  rgba($white,0) 0%,rgba($white,0.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
    }
    &::before{
		content: "\f104";
    }
}

.slick-next{
	right:0;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0+100;White+to+Transparent */
	background: -moz-linear-gradient(left,  rgba($white,0.9) 0%, rgba($white,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  rgba($white,0.9) 0%,rgba($white,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  rgba($white,0.9) 0%,rgba($white,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
	&:hover{
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0+100;White+to+Transparent */
	background: -moz-linear-gradient(left,  rgba($white,0.9) 0%, rgba($white,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  rgba($white,0.9) 0%,rgba($white,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  rgba($white,0.9) 0%,rgba($white,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
	}
	&::before{
		content: "\f105";
    }
}